@charset "UTF-8";

.swal-modal {
	background-color: white;
	border: 1px solid white;
}

.swal-button {
	background-color: #6667AB;
}

.swal-button:not([disabled]):hover {
	background-color: #6667abbf;
}

.swal-text {
	font-size: 19px;
}

.swal-button--cancel {
	background-color: #6667AB;
	color: white;
}

.swal-button--danger {
	background-color: lightgray;
}